<%- include("partials/header") -%>

  <div class="box" id="heading">
    <h1> <%= title %> </h1>
  </div>

  <div class="box">

    <% newListItems.forEach(function(item) { %>
    <form class="" action="/deleted" method="post">
      <div class="item">
        <input type="checkbox" name="deletedItem" value="<%=item.name%>" onchange="this.form.submit()">
        <p><%=item.name%></p>
        <input type="hidden" name="hidden" value="<%=title%>"></input>
      </div>
    </form>
    <% }) %>

    <form class="item" action="/dream" method="post">
      <input type="text" name="newDream" placeholder="New Dream" autocomplete="off">
      <button type="submit" name="button" value=<%=title%>> + </button>
    </form>

  </div>

  <div class="box goDream">
  <!-- <form  method="post"> -->
    <h1 class="h1_dream"> Go back to ToDo List <button onclick="location.href='/'" class="goButton" type="button"> → </button></h1>
  <!-- </form> -->
  </div>

<%- include("partials/footer") -%>
